@font-face {
    font-family: BebasNeue;
    src: url("../font/BebasNeue-Regular.ttf")
}

html,
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    margin: 0px;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
    background-image: url(../images/opgaveStart.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.wrapper {
    position: relative;
    width: 1160px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Cabin', sans-serif;
}

@media only screen and (max-width: 1160px) {
    .wrapper {
        width: 100%;
    }
}

.top {
    display: table-cell;
    width: 800px;
    margin-bottom: -10px;
    background: white;
    border: none;
    overflow: hidden;
    overflow: hidden;
}

#uvmLogo {
    position: absolute;
    top: 12px;
    right: 25px;
}

.main {
    width: 770px;
    background-color: white;
    height: 100%;
    display: table;
    border-bottom: 0px;
    border-top: 0px;
}

h1 {
    display: block;
    font-size: 1.6em;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.1em;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-weight: bold;
}

h4 {
    display: block;
    font-size: 1.0em;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-weight: bold;
}

#content {
    display: table-cell;
    margin-left: 205px;
    height: 100%;
    max-width: auto;
    vertical-align: top;
    position: relative;
}

.content-text {
    color: #000;
    font-family: Arial;
    margin-left: 100px;
}

.headline {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 65px;
}

#ordning {
    margin-bottom: 26px;
}

#delprove {
    margin-bottom: 26px;
    font-size: 2.5rem;
}

#bodytext {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

#dateofexam {
    position: absolute;
    bottom: 20px;
    left: 125px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 34px;
}

#bottom {
    position: relative;
    padding-top: 8px;
    width: 770px;
    height: 45px;
    padding-left: 20px;
}

.bottomText {
    float: left;
    padding: 0 45px 0 45px;
}

.bottomLine {
    float: left;
}

.breadcrumb {
    list-style: none;
    line-height: normal;
    margin-left: -9px;
    margin-bottom: 5px;
}

a {
    color: #0000FF;
    text-decoration: underline;
}


a:visited {
    color: #990099;
}

a:hover {
    color: #FF0000
}

#taskNumber {
    color: #333333;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    line-height: 10px;
    height: 20px;
    padding-top: 150px;
    margin-left: 11.2%;
    margin-right: 5%;
}

#menu {
    overflow: hidden;
    z-index: 100;
    margin-top: 15%;
    padding-top: 15%;
    line-height: 0px;
    min-width: 204px;
    max-width: 204px;
}

.sub-title {
    color: #fff;
    text-transform: uppercase;
    padding: 0 25px;
    margin-top: 40px;
    font-family: BebasNeue, Arial Narrow, Arial;
}

.titleColor {
    font-size: 90px;
    font-family: BebasNeue, Arial Narrow, Arial;
    text-transform: uppercase;
    margin-left: 100px;
    line-height: 88px;
    margin-top: 54px;
    margin-bottom: 15px;
}

#school-title {
    font-size: 6rem;
}

#exam-title {
    font-size: 2rem;
    line-height: 2rem;
}

#menu .rootLinkActive,
#menu .rootMenu {
    display: block;
    height: auto;
    color: #333;
    text-decoration: none;
    margin-top: 5px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 14px;
    margin: 0 8% 13px;
    align-items: center;
    border: 1px solid #fff;
}

#menu .subLinkActive,
#menu .subMenu {
    display: block;
    color: #000;
    text-decoration: none;
    align-items: center;
    border: 1px solid #fff;
    margin: 0 12% 13px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 14px;
}

#menu .subMenu a,
#menu .subLinkActive a,
#menu .subLinkActive a:visited {
    display: block;
    color: #FFF;
    text-decoration: none;
    padding: 12px 15px;
    font-size: 11px;
}

#menu .subMenuVisited a:visited {
    color: #FFDA00;
}

#menu .rootMenu a,
#menu .rootMenu a:visited {
    display: block;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.2em;
    padding: 12px 15px;
}

#menu .rootMenuMellemrum {
    line-height: 10px;
}

.PAGE {
    font-size: 16px;
    height: auto;
    line-height: 1.5em;
    overflow: hidden;
    padding: 3.55em 26px 60px 25px;
    width: 955px;
}

.tables-container {
    display: flex;
    flex-direction: column;
}

.tinymce-elevinfo-tabel:nth-of-type(2) {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.tinymce-elevinfo-tabel td {
    border-right: 1px solid grey;
}

/* following css is only for tinyMCE */
.tinymce-elevinfo-tabel input {
    padding: 0.5rem 0.5rem;
    border: none;
    height: 31px;
    margin: 0.1rem;
    width: 96%;
}

.tinymce-elevinfo-tabel td {
    padding: 2px 6px;
    font-size: 14px;
    line-height: 1.5;
}

.print-btn {
    margin-top: 1rem;
    border: 2px solid #eee;
    border-radius: 10px;
    box-shadow: none;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
    padding: 3px 12px 0px;
}

.print-btn:hover {
    border: 2px solid black;
}

#hidden-tinymce-text,
#hidden-unilogin-text {
    display: none;
}

#bottomMenu .subMenu {
    position: absolute;
    top: 5px;
}

#bottomMenu .subMenu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 5px;
    padding-left: 30px;
    border-left: 3px solid white;
    opacity: 0.9;
}

#bottomMenu .first a {
    border: 0px;
    padding-left: 20px;
}

#bottomMenu img {

    margin-right: 6px;
}

#bottomMenu .subLinkActive a {
    text-decoration: none;
    color: red;
    font-weight: bold;
    margin-top: 5px;
}

#bottomMenu .subMenu a:hover {
    color: black;
}

.videoFremviser {
    position: relative;
    width: 320px;
    height: 270px;
    overflow: hidden;
}

.videoTitle {
    position: absolute;
    top: 0px;
    z-index: 100000;
    height: 25px;
    width: 100%;
    font-size: 0.5em;
    background-color: black;
    opacity: 0.6;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
}

.video {
    position: absolute;
    top: 0px;
    z-index: 1;
    width: 100%;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

.audioFremviser {
    position: relative;
    width: 560px;
    overflow: hidden;
}

.audio {
    position: absolute;
    width: 100%;
}

.audioImage {
    position: absolute;
    top: 0px;
}

audio {
    width: 760px;
}

.audioTitle {
    position: absolute;
    top: 0px;
    height: 25px;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 0.47em;
}

#blanketMovie {
    background-color: #111;
    opacity: 1;
    *background: none;
    position: fixed;
    z-index: 9013;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#popUpDivMovie {
    position: fixed;
    width: 50%;
    height: auto;
    background-color: black;
    left: 0;
    right: 0;
    top: 8%;
    margin: 0 auto;
    z-index: 9014;
    border: 20px solid #262626;
    border-radius: 10px;
    font-size: 1em;
}

#closeDivLayerMovie {
    position: absolute;
    top: -32px;
    right: -37px;
    width: 30px;
    height: 25px;
    z-index: 9099;
    background-image: url(../images/close.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#closeDivLayer {
    position: absolute;
    bottom: -40px;
    right: 4px;
    width: 30px;
    height: 30px;
    z-index: 9099;
    background-image: url(../images/close.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

#blanketImage {
    background-color: #111;
    opacity: 1;
    *background: none;
    position: fixed;
    z-index: 9013;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#popUpDivImage {
    position: fixed;
    width: 50%;
    height: auto;
    background-color: black;
    left: 0;
    right: 0;
    top: 8%;
    margin: 0 auto;
    z-index: 9014;
    border: 20px solid #262626;
    border-radius: 10px;
    font-size: 1em;
}

#closeDivLayerImage {
    position: absolute;
    top: -32px;
    right: -37px;
    width: 30px;
    height: 25px;
    z-index: 9099;
    background-image: url(../images/close.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.popdiv {
    display: none;
}

.popuplink {
    cursor: pointer;
}

#popUpDiv {
    position: fixed;
    max-width: 760px;
    max-height: 75%;
    background-color: black;
    left: 0;
    right: 0;
    top: 8%;
    margin: 0 auto;
    z-index: 9002;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 5px solid white;
    border-bottom: 50px solid white;
    padding: 10px;
}

#popUpDiv img {
    padding: -8px;
}

#blanket {
    background-color: #111;
    opacity: 0.95;
    *background: none;
    position: fixed;
    z-index: 9001;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#divContainer {
    height: 99.5%;
    width: 100%;
    overflow-y: auto;
    float: left;
}

.popdivTitle {
    display: none;
}

#divTitle {
    position: absolute;
    bottom: -30px;
    left: 0%;
    z-index: 9099;
    color: black;
    padding-top: 13px;
    color: gray;
}

.svg {
    position: relative;
}

.svg canvas {
    width: 100%;
    display: none;
    visibility: hidden;
}

.svg svg {
    width: 100%;
    height: 100%;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .svg canvas {
        display: block;
    }

    .svg svg {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.combinedTables:after {
    content: " ";
    clear: both;
    display: block;
}

.combinedTables table {
    float: left;
}

.bluebox {
    width: 100%;
    height: 30px;
    background-color: #7eb0d3;
}

.checkboxText {
    display: flex;
    align-items: baseline;
}

.numText {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.numText p {
    background-color: #7eb0d3;
    padding: 10px 21px;
    margin-left: 20px;
    font-weight: bold;
}

.td-place {
    padding-left: 10px;
    text-align: center;
}

div#menu span:last-of-type {
    position: relative;
    bottom: 0;
    border: none !important;
    margin: 100px 0 0 !important;
}

div#menu span:last-of-type a {
    color: white !important;
}

div#menu span:last-of-type a i {
    font-style: normal;
    font-size: 12px;
    line-height: 10px;
}

/* Page-header and page-header-space is important for unilogin header element on print */
.page-header,
.page-header-space {
    display: none;
}

.page-header {
    display: none;
    position: fixed;
    top: 0mm;
    border-bottom: 1px solid black;
}

table.table-print-content {
    width: 100%;
}

/* Hide extra headers when not printing */
.safari-header {
    display: none;
}

/* Show the additional headers only when printing */
@media print {
    .safari-header {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        background-color: white;
        border-bottom: 1px solid black;
        padding: 10px;
        height: 30px;
    }
}